MODE=dev
RUST_LOG=debug
HOST=0.0.0.0
PORT=8080

# Verificacion de correo electronico
SMTP_SERVER=smtp.gmail.com
SMTP_USER=pepe@gmail.com
SMTP_PASSWORD="asd asd asd asd"
FROM_EMAIL=no-reply@gmail.com
ADMIN_EMAILS=uwu@gmail.com,owo@gmail.com

# Nota: Para Gmail, usa contraseñas de aplicación, no tu contraseña normal
# https://support.google.com/accounts/answer/185833